@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/@mdxeditor/editor/dist/style.css';

html{scroll-behavior:smooth}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.protected {
  width:100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorHeight {
  height: 80vh;
}

.center {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #151515

}

video {
  margin-top: 16px;
  border-radius: 16px;
}

h1 {
  font-family: var(--font-fira-mono);
  font-weight:700;
}
p {
  color: #bbbbbb;
  font-family: var(--font-fira-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  color: #bbbbbb;
  font-family: var(--font-fira-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img {
  border-radius: 8px;
}

.mdxeditor {
  height: 100%;

}

.bodyContainer {

}

.file-title {
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 8px;
}

.file-link { 
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 8px;
}

.bodyContainer {
  max-width: 800px;
  margin-bottom: 64px;
}

.auth-container { 
  display:flex;
  justify-content: center;
  width: 100%;
}


@media (max-width: 640px)
{
  .bodyContainer {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.nuake-blog-editor-content {
  h1 {
      margin-top:32px;
      margin-bottom: 16px;
      font-weight: 700;
      font-family: var(--font-fira-poppins) !important;
      font-size: 2.25rem;
      line-height: 2.5rem;
  }

  h2 {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-bottom: .25rem;
    margin-top: 2.5rem
  }

  p {
    padding: 8px 32px 16px;
    font-size: 15px;
    font-family: var(--font-fira-poppins);
    color: #bbb;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
  }

  ul {
    padding: 8px 32px 16px;
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  blockquote {
    padding: 0px;
    border-color: #6100ff;
    border-left-width: 4px;
    margin-top: 1.5rem;
    padding: 8px 32px 16px;
  }
}