@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/@mdxeditor/editor/dist/style.css';

html{scroll-behavior:smooth}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #151515

}

video {
  margin-top: 16px;
  border-radius: 16px;
}

h1 {
  font-family: var(--font-fira-mono);
  font-weight:700;
}
p {
  color: #bbbbbb;
  font-family: var(--font-fira-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  color: #bbbbbb;
  font-family: var(--font-fira-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img {
  border-radius: 8px;
}

.mdxeditor {
  height: 100%;
  margin-left: 100px;

}

.bodyContainer {
  margin-left: 5%;
  margin-right: 5%;
}