
.jumbotron {
    
    padding-top: 10%;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    max-width: 60px;
    margin-bottom: 42px;
}

.megaText {
    text-align: center;
    font-family: var(--font-fira-poppins);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 900px;
}

@media (max-width: 640px)
{
    .megaText {
        font-size: 1.2rem;
    }

    .previewImg {
        padding-left: 32px;
        padding-right: 32px;
    }

    .featureItem {

    }
}

.quote {
    background: rgba(80, 80, 80, 9);
    -webkit-text-fill-color: rgba(80, 80, 80, 1);
    color: rgba(80, 80, 80, 1);
    -webkit-background-clip: text;
    background-clip: text;
}

.megaText {
    margin-bottom: 18px;
}

.megaText::first-line {
    background: linear-gradient(270deg, #00FD84 -1.15%, #FF19FF 100%);
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.subText {
    max-width: 600px;
    text-align: center;
    color: rgba(255, 255, 255, 0.38);
    font-size: 14px;
    margin-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
}

.joinBtn {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 16px;
    text-align: center;
    border-radius: 4px;
    background: #6100FF;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 10vw;
}

.joinBtn:hover {
    transform: scale(1.1);
}

.previewImg {
    margin: 0 10% 0 10%;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.486));
    z-index: -1;
    max-width: 1000px;
}

.previewImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0px;
    transition: 0.5s;
    position:relative;
}

.previewImageContainer:hover {
    top: -12vh;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.486));
}

.featureSection {
    width: 100%;
    background-color: rgb(17, 17 ,17);
    margin-top: -5vh;
    z-index: 1;
    display:flex;
    justify-content: center;
    padding: 32px;

    padding-top: 128px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.486));
}

.featureTitle {
    font-size: 32px;
    margin-bottom: 64px;
}

.featureList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.featureItem {
    max-width: 1000px;
    width: 100%;
    border: red;
    border-width: 2px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
    
}

.desc {
    font-family: var(--font-fira-poppins);
}

.featureItemR {
    max-width: 900px;
    padding-left: 16px;
}

@media (max-width: 640px)
{
    .featureItem {
        flex-direction: column;
    }
    .featureImg {
        visibility: hidden;
        height: 0;
    }

    .featureItemL {
        width: 100%;
        text-align: left !important;
        padding-left: 16px;
    }

    .featureItemR {
        padding-left: 16px;
        width: 100%;
        text-align: left !important;
    }

    .faqContainer {
        padding: 32px !important;
        padding-top: 64px !important;
    }
}

.featureItemL {
    padding-right: 16px;
    max-width: 900px;
    text-align: right;
}

.featureName {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #fff;
}

.faqContainer {
    padding: 128px;
    padding-bottom: 0;
    max-width: 936px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.faqWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqTitle {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 64px;
}

.faqQuestion {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;

    padding: 8px;
    background: rgba(0, 8, 13, 0.79);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: -moz-fit-content;
    width: fit-content;
}

.faqAnswer {
    margin-bottom: 64px;
}

.words {
    background-color: #201f24;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border-left: #6100FF 1px solid;

    margin-bottom: 64px;
}

